@page "/weather"
@attribute [StreamRendering]
@using WildFireApp.Backend.Data;
@using WildFireApp.Backend.Model;
@using WildFireApp.Backend;

<PageTitle>WildFire Data</PageTitle>

<h1>WildFire Data</h1>

<div>
    <EditForm Model="userSelection" OnSubmit="ChangeListings" FormName="UserSelectionForm">

        <div>
            <label>Year</label>
            <InputSelect @bind-Value="userSelection!.year">
                @foreach (var year in serviceData.AllYears)
                {
                    <option value=@year>@year</option>
                }
            </InputSelect>
        </div>

        <div>
            <label>Status</label>
            <InputSelect @bind-Value="userSelection!.status">
                <option value=""></option>
                @foreach (var status in serviceData.AllStatuses)
                {
                    <option value=@status>@status</option>
                }
            </InputSelect>
        </div>

        <div>
            <label>Cause</label>
            <InputSelect @bind-Value="userSelection!.cause">
                <option value=""></option>
                @foreach (var cause in serviceData.AllCauses)
                {
                    <option value=@cause>@cause</option>
                }
            </InputSelect>
        </div>

        <div>
            <label>Geographic Location</label>
            <InputSelect @bind-Value="userSelection!.geoLocation">
                <option value=""></option>
                @foreach (var geoLocation in serviceData.AllGeographicLocations)
                {
                    <option value=@geoLocation>@geoLocation</option>
                }
            </InputSelect>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </EditForm>
</div>

@if (wildfire == null)
{
    <p><em>Loading Results ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Fire #</th>
                <th>Geographic Location</th>
                <th>Year</th>
                <th>Status</th>
                <th>Cause</th>
                <th>Coordinates</th>
                <th>Incident</th>
            </tr>
        </thead>
        <tbody>
            @if(wildfire?.features != null)
            foreach (var wildfireResult in wildfire.features)
            {
                <tr>
                    <td>@wildfireResult.properties.FIRE_ID</td>
                    <td>@wildfireResult.properties.GEOGRAPHIC_DESCRIPTION</td>
                    <td>@wildfireResult.properties.FIRE_YEAR</td>
                    <td>@wildfireResult.properties.FIRE_STATUS</td>
                    <td>@wildfireResult.properties.FIRE_CAUSE</td>
                    <td>@wildfireResult.geometry.coordinates[0], @wildfireResult.geometry.coordinates[1]</td>
                    <td>@wildfireResult.properties.INCIDENT_NAME</td>
                        
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //GeoService Data
    private GeoServiceData serviceData = new GeoServiceData();

    //GeoService.
    private GeoService service = new GeoService();

    //User Selection.
    class UserSelection
    {
        public int year { get; set; }
        public string status { get; set; }
        public string cause { get; set; }
        public string geoLocation { get; set; }
    }

    //Supply User Selection Instance from Form Data.
    [SupplyParameterFromForm]
    private UserSelection? userSelection { get; set; }

    // Displayed Data.
    private GeoServer.WildFire wildfire;

    protected override async Task OnInitializedAsync()
    {
        userSelection ??= new UserSelection() {
                year = -1,
                status = "",
                cause = "",
                geoLocation = ""
        };
        await ChangeListings();
    }

    async Task ChangeListings()
    {
        //Populate Backend User Filters.
        Dictionary<string, Object> userFilter = new Dictionary<string, object>();
        if (userSelection?.year != -1)
        {
            userFilter.Add("FIRE_YEAR", userSelection.year);
        }
        if (!String.IsNullOrEmpty(userSelection?.cause))
        {
            userFilter.Add("FIRE_CAUSE", userSelection.cause);
        }
        if (!String.IsNullOrEmpty(userSelection?.status))
        {
            userFilter.Add("FIRE_STATUS", userSelection.status);
        }
        if (!String.IsNullOrEmpty(userSelection?.geoLocation))
        {
            userFilter.Add("GEOGRAPHIC_DESCRIPTION", userSelection.geoLocation);
        }

        //Populate Display List.
        if(userFilter.Count > 0) {
            wildfire = await service.GetWildFireResultsByMultipleFilters(userFilter);
        } else {
            wildfire = await service.GetAllWildFireResults();
        }
    }
}
